.home {
    width: 100%;
    height: 100vh;

    position: relative;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
}

.web {
    width: 100%;
    position: relative;
    background-color: #66cccc;
    padding: 120px;
}

.illustration {
    width: 100%;
    position: relative;
    background-color: #F4837D;
    padding: 120px;
    margin-bottom: -20px;
}

.contact {
    width: 100%;

    position: relative;
    background-color: #eee;
}


.photos {
    width: 100%;
    height: 100vh;
    position: relative;
    /*background-image: url(../images/kids.jpg);*/
    background-size: cover;
    background-position: center center;
}

.about {
    width: 100%;
    position: relative;
    background-color: #ffcc66;
    padding: 120px;
    margin-top: -20px;
}

.home h1 a, .web h1 a, .illustration h1 a, .photos h1 a, .about h1 a {
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    top:50px;
    left:50px;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

.web a, .illustration a, .illustration p, .photos a, .contact a {
    font-family: roboto-mono, monospace;
    font-weight: 300;
    font-style: normal;
    color: black;

}

.figure a {
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: black;
}

.footer {
    text-align: center;
    background-color: #333333;
    font-size: 16px;
    font-family: roboto-mono, monospace;
    font-weight: 300;
    font-style: normal;
    color: white;
}

/*media queries*/

@media (max-width: 640px) {
    nav ul li a {
        font-size: 11px;
    }
    nav li a:after {
        font-size: 0.6rem;
    }
    .open-overlay {
        right: 1rem;
    }
    nav li a:before {
        width: 15px;
    }
}

@media (max-width: 800px) {

    .construction {
        display: none;
    }
}

/* everything else */

.construction {
    color: white;
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: italic;
    top: 200px;
    left: 200px;
    position: relative;
}

.taylor a {
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    top:50px;
    left:50px;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;

}
